In [1]:
# Import necessary Libraries
import pandas as pd

In [2]:
# Read the scraped data
df=pd.read_csv('glassdoor_jobs.csv')
df

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1
1,1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1
2,2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa..."
4,4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
951,951,Senior Data Engineer,$72K-$133K (Glassdoor est.),THE CHALLENGE\nEventbrite has a world-class da...,4.4,Eventbrite\n4.4,"Nashville, TN","San Francisco, CA",1001 to 5000 employees,2006,Company - Public,Internet,Information Technology,$100 to $500 million (USD),"See Tickets, TicketWeb, Vendini"
952,952,"Project Scientist - Auton Lab, Robotics Institute",$56K-$91K (Glassdoor est.),The Auton Lab at Carnegie Mellon University is...,2.6,Software Engineering Institute\n2.6,"Pittsburgh, PA","Pittsburgh, PA",501 to 1000 employees,1984,College / University,Colleges & Universities,Education,Unknown / Non-Applicable,-1
953,953,Data Science Manager,$95K-$160K (Glassdoor est.),Data Science ManagerResponsibilities:\n\nOvers...,3.2,"Numeric, LLC\n3.2","Allentown, PA","Chadds Ford, PA",1 to 50 employees,-1,Company - Private,Staffing & Outsourcing,Business Services,$5 to $10 million (USD),-1
954,954,Data Engineer,-1,Loading...\n\nTitle: Data Engineer\n\nLocation...,4.8,IGNW\n4.8,"Austin, TX","Portland, OR",201 to 500 employees,2015,Company - Private,IT Services,Information Technology,$25 to $50 million (USD),Slalom
955,955,Research Scientist – Security and Privacy,$61K-$126K (Glassdoor est.),Returning Candidate? Log back in to the Career...,3.6,Riverside Research Institute\n3.6,"Beavercreek, OH","Arlington, VA",501 to 1000 employees,1967,Nonprofit Organization,Federal Agencies,Government,$50 to $100 million (USD),-1

In [3]:
# Let's begin the data cleaning of thr data
# To clean the Salary Estimate column
# create a new column to show which row has Salary in per hour
df['hourly'] = df['Salary Estimate'].apply(lambda x: 1 if 'per hour' in x.lower() else 0)
df['employer_provided'] = df['Salary Estimate'].apply(lambda x: 1 if 'employer provided salary:' in x.lower() else 0)

df = df[df['Salary Estimate'] != '-1']
salary = df['Salary Estimate'].apply(lambda x: x.split('(')[0]) # to remove glassdoor text
minus_Kd = salary.apply(lambda x: x.replace('K','').replace('$',''))
# to remove additional text
min_hr = minus_Kd.apply(lambda x: x.lower().replace('per hour','').replace('employer provided salary:',''))

In [4]:
# Add average salary column
df['min_salary'] = min_hr.apply(lambda x: int(x.split('-')[0]))
df['max_salary'] = min_hr.apply(lambda x: int(x.split('-')[1]))
df['avg_salary'] = (df.min_salary+df.max_salary)/2

C:\Users\DELL\AppData\Local\Temp\ipykernel_4144\1079894635.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['min_salary'] = min_hr.apply(lambda x: int(x.split('-')[0]))
C:\Users\DELL\AppData\Local\Temp\ipykernel_4144\1079894635.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['max_salary'] = min_hr.apply(lambda x: int(x.split('-')[1]))
C:\Users\DELL\AppData\Local\Temp\ipykernel_4144\1079894635.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['avg_salary'] = (df.min_salary+df.max_salary)/2

In [5]:
# To convert hourly wage to annual 
df['min_salary'] = df.apply(lambda x: x.min_salary*2 if x.hourly ==1 else x.min_salary, axis =1)
df['max_salary'] = df.apply(lambda x: x.max_salary*2 if x.hourly ==1 else x.max_salary, axis =1)

df[df.hourly ==1][['hourly','min_salary','max_salary', 'avg_salary']]

C:\Users\DELL\AppData\Local\Temp\ipykernel_4144\3878494012.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['min_salary'] = df.apply(lambda x: x.min_salary*2 if x.hourly ==1 else x.min_salary, axis =1)
C:\Users\DELL\AppData\Local\Temp\ipykernel_4144\3878494012.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['max_salary'] = df.apply(lambda x: x.max_salary*2 if x.hourly ==1 else x.max_salary, axis =1)

     hourly  min_salary  max_salary  avg_salary
197       1          34          48        20.5
209       1          42          68        27.5
240       1          36          50        21.5
247       1          42          68        27.5
257       1          30          50        20.0
307       1          34          48        20.5
337       1          42          68        27.5
427       1          36          50        21.5
437       1          48          78        31.5
456       1          42          68        27.5
464       1          50          56        26.5
522       1          42          58        25.0
523       1          20          34        13.5
632       1          36          50        21.5
652       1          48          78        31.5
682       1          42          68        27.5
694       1          50          56        26.5
786       1          42          58        25.0
787       1          20          34        13.5
823       1          54          94        37.0
854       1          36          50        21.5
875       1          48          78        31.5
919       1          42          68        27.5
936       1          50          56        26.5

In [6]:
# To append the new salaries into the Avg_salary column
df['avg_salary']= (df.min_salary+df.max_salary)/2

df[df.hourly ==1][['hourly','min_salary','max_salary', 'avg_salary']]

C:\Users\DELL\AppData\Local\Temp\ipykernel_4144\1874914334.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['avg_salary']= (df.min_salary+df.max_salary)/2

     hourly  min_salary  max_salary  avg_salary
197       1          34          48        41.0
209       1          42          68        55.0
240       1          36          50        43.0
247       1          42          68        55.0
257       1          30          50        40.0
307       1          34          48        41.0
337       1          42          68        55.0
427       1          36          50        43.0
437       1          48          78        63.0
456       1          42          68        55.0
464       1          50          56        53.0
522       1          42          58        50.0
523       1          20          34        27.0
632       1          36          50        43.0
652       1          48          78        63.0
682       1          42          68        55.0
694       1          50          56        53.0
786       1          42          58        50.0
787       1          20          34        27.0
823       1          54          94        74.0
854       1          36          50        43.0
875       1          48          78        63.0
919       1          42          68        55.0
936       1          50          56        53.0

In [7]:
#To remove the rating from the Company name column
df['company_txt'] = df.apply(lambda x: x['Company Name'] if x['Rating'] <0 else x['Company Name'][:-3], axis = 1)

C:\Users\DELL\AppData\Local\Temp\ipykernel_4144\1842201778.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['company_txt'] = df.apply(lambda x: x['Company Name'] if x['Rating'] <0 else x['Company Name'][:-3], axis = 1)

In [8]:
#Extract the state the company that listed the job is located from the state field 
df['job_state'] = df['Location'].apply(lambda x: x.split(',')[1])
df.job_state.value_counts()
# to create a coulmn showing if the Job location is in the same state as the headquarters
df['same_state'] = df.apply(lambda x: 1 if x.Location == x.Headquarters else 0, axis = 1)

C:\Users\DELL\AppData\Local\Temp\ipykernel_4144\4048521726.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['job_state'] = df['Location'].apply(lambda x: x.split(',')[1])
C:\Users\DELL\AppData\Local\Temp\ipykernel_4144\4048521726.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['same_state'] = df.apply(lambda x: 1 if x.Location == x.Headquarters else 0, axis = 1)

In [9]:
#Create a new column to calculate the Age of the company that listed the job
df['age'] = df.Founded.apply(lambda x: x if x <1 else 2024 - x)

C:\Users\DELL\AppData\Local\Temp\ipykernel_4144\2109237466.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['age'] = df.Founded.apply(lambda x: x if x <1 else 2024 - x)

In [10]:
#parsing of job description for data science skills required (python, etc.)

#python
df['python_yn'] = df['Job Description'].apply(lambda x: 1 if 'python' in x.lower() else 0)
 
#r studio 
df['R_yn'] = df['Job Description'].apply(lambda x: 1 if 'r studio' in x.lower() or 'r-studio' in x.lower() else 0)
df.R_yn.value_counts()

#sql 
df['sql'] = df['Job Description'].apply(lambda x: 1 if 'sql' in x.lower() else 0)
df.sql.value_counts()

#aws or azure
df['aws'] = df['Job Description'].apply(lambda x: 1 if 'aws' in x.lower() or 'azure' in x.lower() else 0)
df.aws.value_counts()

#excel
df['excel'] = df['Job Description'].apply(lambda x: 1 if 'excel' in x.lower() else 0)
df.excel.value_counts()

#power bi or tableau
df['powerbi_tableau'] = df['Job Description'].apply(lambda x: 1 if 'power bi' in x.lower() or 'tableau' in x.lower() else 0)
df.aws.value_counts()

C:\Users\DELL\AppData\Local\Temp\ipykernel_4144\3412044561.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['python_yn'] = df['Job Description'].apply(lambda x: 1 if 'python' in x.lower() else 0)

C:\Users\DELL\AppData\Local\Temp\ipykernel_4144\3412044561.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['R_yn'] = df['Job Description'].apply(lambda x: 1 if 'r studio' in x.lower() or 'r-studio' in x.lower() else 0)
C:\Users\DELL\AppData\Local\Temp\ipykernel_4144\3412044561.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sql'] = df['Job Description'].apply(lambda x: 1 if 'sql' in x.lower() else 0)
C:\Users\DELL\AppData\Local\Temp\ipykernel_4144\3412044561.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['aws'] = df['Job Description'].apply(lambda x: 1 if 'aws' in x.lower() or 'azure' in x.lower() else 0)
C:\Users\DELL\AppData\Local\Temp\ipykernel_4144\3412044561.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['excel'] = df['Job Description'].apply(lambda x: 1 if 'excel' in x.lower() else 0)
C:\Users\DELL\AppData\Local\Temp\ipykernel_4144\3412044561.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['powerbi_tableau'] = df['Job Description'].apply(lambda x: 1 if 'power bi' in x.lower() or 'tableau' in x.lower() else 0)

aws
0    555
1    187
Name: count, dtype: int64

In [11]:
# Create a new column to simplifier the Job title and to recorgnise job roles that are not data inclined

def title_simplifier(title):
    if 'data scientist' in title.lower() or 'science' in title.lower():
        return 'data scientist'
    elif 'data engineer' in title.lower()  or 'data architect' in title.lower()  or 'data modeler' in title.lower():
        return 'data engineer'
    elif 'analyst' in title.lower() or 'analytics' in title.lower() or 'data analysis' in title.lower():
        return 'data analyst'
    elif 'machine learning' in title.lower():
        return 'mle'
    elif 'manager' in title.lower() or 'management' in title.lower():
        return 'manager'
    elif 'director' in title.lower():
        return 'director'
    else:
        return 'na'
    

# To create the new title column
df['job_simp'] = df['Job Title'].apply(title_simplifier)

# To display value count
df.job_simp.value_counts()

C:\Users\DELL\AppData\Local\Temp\ipykernel_4144\2092369264.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['job_simp'] = df['Job Title'].apply(title_simplifier)

job_simp
data scientist    320
na                143
data analyst      124
data engineer     124
mle                22
director            5
manager             4
Name: count, dtype: int64

In [12]:
# It seems the data consist of some rows that are not data inclines. let us see them which will be filtered out later
df[df.job_simp =='na'][['job_simp','Job Title','Job Description']]

,job_simp,Job Title,Job Description
8,na,Research Scientist,SUMMARY\n\nThe Research Scientist I will be ta...
16,na,"Scientist I/II, Biology","Scientist I/II, Biology\n\nCambridge, MA\n\nBI..."
45,na,Scientist,"We are a global team of 6000 visionaries, doer..."
51,na,Spectral Scientist/Engineer,Thank you for your interest in joining the Cen...
80,na,Scientist,Scientist\nOrganization\n\n\nEurofins EAG Mate...
...,...,...,...
942,na,"Associate Scientist, LC/MS Biologics",Q2 Solutions is a leading clinical trial labor...
943,na,"Research Scientist, Immunology - Cancer Biology","Research Scientist, Immunology - Cancer Biolog..."
950,na,"Sr Scientist, Immuno-Oncology - Oncology",Site Name: USA - Massachusetts - Cambridge\nPo...
952,na,"Project Scientist - Auton Lab, Robotics Institute",The Auton Lab at Carnegie Mellon University is...
955,na,Research Scientist – Security and Privacy,Returning Candidate? Log back in to the Career...

In [13]:
# To parse the Level job role (either senior or junior)) required from the data set
def seniority(title):
    if 'sr' in title.lower() or 'senior' in title.lower() or 'sr' in title.lower() or 'lead' in title.lower() or 'principal' in title.lower():
            return 'senior'
    elif 'jr' in title.lower() or 'jr.' in title.lower():
        return 'jr'
    else:
        return 'na'
    
df['seniority'] = df['Job Title'].apply(seniority)
df.seniority.value_counts()

C:\Users\DELL\AppData\Local\Temp\ipykernel_4144\1495083346.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['seniority'] = df['Job Title'].apply(seniority)

seniority
na        520
senior    220
jr          2
Name: count, dtype: int64

In [14]:
# To Fix Los Angeles state
df['job_state']= df.job_state.apply(lambda x: x.strip() if x.strip().lower() != 'los angeles' else 'CA')
df.job_state.value_counts()

C:\Users\DELL\AppData\Local\Temp\ipykernel_4144\1715884629.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['job_state']= df.job_state.apply(lambda x: x.strip() if x.strip().lower() != 'los angeles' else 'CA')

job_state
CA    152
MA    103
NY     72
VA     41
IL     40
MD     35
PA     33
TX     28
NC     21
WA     21
NJ     17
FL     16
OH     14
TN     13
DC     11
CO     11
WI     10
UT     10
IN     10
AZ      9
MO      9
AL      8
GA      6
DE      6
KY      6
MI      6
CT      5
IA      5
LA      4
OR      4
NE      4
NM      3
KS      3
ID      2
MN      2
RI      1
SC      1
Name: count, dtype: int64

In [15]:
#  Job description length  to check how it affects the salary range which will used for further eda
df['desc_len'] = df['Job Description'].apply(lambda x: len(x))
df['desc_len']

C:\Users\DELL\AppData\Local\Temp\ipykernel_4144\1964473357.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['desc_len'] = df['Job Description'].apply(lambda x: len(x))

0      2536
1      4783
2      3461
3      3883
4      2728
       ...
950    6162
951    6130
952    3078
953    1642
955    3673
Name: desc_len, Length: 742, dtype: int64

In [16]:
#Create a Competitor count column. This column is to identify the no of companies that are compititors to the company listing the job
df['num_comp'] = df['Competitors'].apply(lambda x: len(x.split(',')) if x != '-1' else 0)
df['num_comp']
df['Competitors']

C:\Users\DELL\AppData\Local\Temp\ipykernel_4144\1574617200.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['num_comp'] = df['Competitors'].apply(lambda x: len(x.split(',')) if x != '-1' else 0)

0                                                     -1
1                                                     -1
2                                                     -1
3      Oak Ridge National Laboratory, National Renewa...
4                   Commerce Signals, Cardlytics, Yodlee
                             ...
950                           Pfizer, AstraZeneca, Merck
951                      See Tickets, TicketWeb, Vendini
952                                                   -1
953                                                   -1
955                                                   -1
Name: Competitors, Length: 742, dtype: object

In [17]:
# To further Clean the company column
df['company_txt'] = df.company_txt.apply(lambda x: x.replace('\n', ''))

df['company_txt']

C:\Users\DELL\AppData\Local\Temp\ipykernel_4144\2384410379.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['company_txt'] = df.company_txt.apply(lambda x: x.replace('\n', ''))

0                          Tecolote Research
1      University of Maryland Medical System
2                                    KnowBe4
3                                       PNNL
4                         Affinity Solutions
                       ...
950                                      GSK
951                               Eventbrite
952           Software Engineering Institute
953                             Numeric, LLC
955             Riverside Research Institute
Name: company_txt, Length: 742, dtype: object

In [18]:

#Filter out 'na' values in the 'job_simp' column to only display data inclined roles
df = df[df['job_simp'] != 'na'] # This is our cleaned data to be used for EDA

# to drop duplicate rows
df = df.drop_duplicates()

In [19]:
# To reset the index of the dataset
df.reset_index()

,index,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,...,python_yn,R_yn,sql,aws,excel,powerbi_tableau,job_simp,seniority,desc_len,num_comp
0,0,0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,...,1,0,0,0,1,1,data scientist,na,2536,0
1,1,1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,...,1,0,0,0,0,0,data scientist,na,4783,0
2,2,2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,...,1,0,1,0,1,0,data scientist,na,3461,0
3,3,3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,...,1,0,0,0,0,0,data scientist,na,3883,3
4,4,4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,...,1,0,1,0,1,0,data scientist,na,2728,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
594,947,947,Data Science Project Manager,$37K-$100K (Glassdoor est.),"At MassMutual, we are passionate about helping...",3.6,MassMutual\n3.6,"Boston, MA","Springfield, MA",5001 to 10000 employees,...,0,0,0,0,1,0,data scientist,na,5016,0
595,948,948,Data Engineer,$62K-$113K (Glassdoor est.),Do you find data architecture exciting? Does b...,3.9,Fivestars\n3.9,"San Francisco, CA","San Francisco, CA",201 to 500 employees,...,1,0,1,1,1,0,data engineer,na,3813,2
596,949,949,"Principal, Data Science - Advanced Analytics",$86K-$137K (Glassdoor est.),IQVIA is the leading human data science compan...,3.6,IQVIA\n3.6,"Plymouth Meeting, PA","Durham, NC",10000+ employees,...,0,0,0,0,0,0,data scientist,senior,5025,3
597,951,951,Senior Data Engineer,$72K-$133K (Glassdoor est.),THE CHALLENGE\nEventbrite has a world-class da...,4.4,Eventbrite\n4.4,"Nashville, TN","San Francisco, CA",1001 to 5000 employees,...,1,0,1,1,0,0,data engineer,senior,6130,3
598,953,953,Data Science Manager,$95K-$160K (Glassdoor est.),Data Science ManagerResponsibilities:\n\nOvers...,3.2,"Numeric, LLC\n3.2","Allentown, PA","Chadds Ford, PA",1 to 50 employees,...,0,0,0,0,1,0,data scientist,na,1642,0

In [20]:
df.columns

Index(['Unnamed: 0', 'Job Title', 'Salary Estimate', 'Job Description',
       'Rating', 'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'hourly', 'employer_provided', 'min_salary', 'max_salary', 'avg_salary',
       'company_txt', 'job_state', 'same_state', 'age', 'python_yn', 'R_yn',
       'sql', 'aws', 'excel', 'powerbi_tableau', 'job_simp', 'seniority',
       'desc_len', 'num_comp'],
      dtype='object')

In [21]:
# To drop the index column so has not to have repetiitons
df = df.drop(['Unnamed: 0'], axis =1)

In [22]:
# to save clean data
df.to_csv('cleaned_data.csv',index = False)

In [23]:
df2= pd.read_csv('cleaned_data.csv')

In [24]:
df2

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,...,python_yn,R_yn,sql,aws,excel,powerbi_tableau,job_simp,seniority,desc_len,num_comp
0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,...,1,0,0,0,1,1,data scientist,na,2536,0
1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,...,1,0,0,0,0,0,data scientist,na,4783,0
2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,...,1,0,1,0,1,0,data scientist,na,3461,0
3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,...,1,0,0,0,0,0,data scientist,na,3883,3
4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,...,1,0,1,0,1,0,data scientist,na,2728,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
594,Data Science Project Manager,$37K-$100K (Glassdoor est.),"At MassMutual, we are passionate about helping...",3.6,MassMutual\n3.6,"Boston, MA","Springfield, MA",5001 to 10000 employees,1851,Company - Private,...,0,0,0,0,1,0,data scientist,na,5016,0
595,Data Engineer,$62K-$113K (Glassdoor est.),Do you find data architecture exciting? Does b...,3.9,Fivestars\n3.9,"San Francisco, CA","San Francisco, CA",201 to 500 employees,2011,Company - Private,...,1,0,1,1,1,0,data engineer,na,3813,2
596,"Principal, Data Science - Advanced Analytics",$86K-$137K (Glassdoor est.),IQVIA is the leading human data science compan...,3.6,IQVIA\n3.6,"Plymouth Meeting, PA","Durham, NC",10000+ employees,2017,Company - Public,...,0,0,0,0,0,0,data scientist,senior,5025,3
597,Senior Data Engineer,$72K-$133K (Glassdoor est.),THE CHALLENGE\nEventbrite has a world-class da...,4.4,Eventbrite\n4.4,"Nashville, TN","San Francisco, CA",1001 to 5000 employees,2006,Company - Public,...,1,0,1,1,0,0,data engineer,senior,6130,3
598,Data Science Manager,$95K-$160K (Glassdoor est.),Data Science ManagerResponsibilities:\n\nOvers...,3.2,"Numeric, LLC\n3.2","Allentown, PA","Chadds Ford, PA",1 to 50 employees,-1,Company - Private,...,0,0,0,0,1,0,data scientist,na,1642,0